run-type: server
local-addr: 0.0.0.0
local-port: ${PORT}
remote-addr: site
remote-port: 80
password:
  - dxh4mw$c
ssl:
  cert: /acme/fullchain.pem
  key: /acme/key.pem
  sni: bytesio.ml
  fallback-addr: site
  fallback-port: 1443
websocket:
  enabled: true
  path: /wss
  host: bytesio.ml
tcp:
  no-delay: true
  keep-alive: true
  prefer-ipv4: false
mux:
  enabled: true
  # concurrency: 8
  # idle-timeout: 60